@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-scrollbar-primary: rgb(101 164 187);
    --color-scrollbar-secondary: rgb(21 94 117);
  }
}

body {
  @apply overflow-hidden bg-slate-900 text-slate-300;
}

.link {
  @apply inline-flex justify-between border-b border-slate-600 text-sm outline-none hover:text-yellow-500 focus-visible:border-yellow-500 focus-visible:text-yellow-500;
}

.group-link {
  @apply border-b border-slate-600 outline-none group-hover:text-yellow-500 group-focus-visible:text-yellow-500;
}

.skeleton {
  @apply block animate-pulse rounded-sm bg-slate-800;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
  pointer-events: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-primary)
    var(--color-scrollbar-secondary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-scrollbar-secondary);
  border-radius: 0 5px 5px 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-primary);
  border-radius: 14px;
  border: 3px solid var(--color-scrollbar-secondary);
}
